.pagination {
    margin-top: 15px;
    width: 100%;
}
.pagination span {
    border: 1px solid black;
    padding: 2px 5px;
    margin: 0 2px;
    display: inline-block;
}

.pagination .currentPage{
    font-weight: bold;
    color: #4a76a8;
}