.friend img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;

}

.friend {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
}