.header{
  background: #4a76a8;
  height: 40px;
  display: grid;
  align-items: center;  
  margin-bottom: 10px;
  position: fixed;
  width: 100vw;
}


.header a {
  margin: 0 auto;
}

.header img {  
  height: 30px;
  width: 190px;
}
