body{
  background: #edeef0;
}
.app-wrapper-content {
  display: grid;
  max-width: 1200px;
  min-width: 400px;
  margin: 0 15%;
  padding-top: 50px;

  grid-template-areas: "nav content";
  grid-template-columns: 2fr 10fr;  
  grid-gap: 10px;
}
