.dialogs {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(100px, 1fr) 10fr;
    grid-gap: 10px;
}

.dialogsItems {
    border-right: 2px solid #edeef0;
    padding-right: 20px;
}

.sendMessage {
    margin-top: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.sendMessage textarea {
    font-family: 'Roboto', sans-serif;
    height: 40px;
    width: 100%;
    resize: none;
}

.sendMessage button {
    height: 40px;
    width: 100%;
    background: #4a76a8;
    color: #e3e4e8;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
}