.dialogs {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(100px, 1fr) 10fr;
    grid-gap: 10px;
}

.dialogsItems {
    padding-right: 20px;
    height: 75vh;   
    overflow-x: auto;
}

.messages {
    height: 75vh;    
    overflow-x: auto;
    padding-right: 5px;
}

.message {
    word-break:break-all;
}

.sendMessage form{
    margin-top: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.sendMessage textarea {
    font-family: 'Roboto', sans-serif;
    height: 40px;
    width: 100%;
    resize: none;
}

.sendMessage button {
    height: 40px;
    width: 100%;
    background: #4a76a8;
    color: #e3e4e8;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
}


::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-thumb { background-color: #edeef0; border-radius: 3px;}

