.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

.item {
  padding-left: 10px;
  line-height: 32px;
}

.item:hover {
  background: #e1e5eb;
  cursor: pointer;
}

.item  {
  
  color: #285473;
}

.activeLink {
  color: #6694b4;
}
